<!-- flipbox -->
<div class="flip-box">
    <!-- <div class="flip-box-inner"> -->
    <div class="flip-box-front">
        <div class="img-div">
            <img src="../pics/insight_spirit_2.jpg" alt="">
        </div>
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum veritatis quae soluta ad deleniti, eaque,
consectetur corporis possimus nemo amet unde aperiam tempora consequuntur aliquid quaerat ea? Provident,
mollitia sunt.</p> -->
        <div class="article-other-data">
            <div class="topauth">
                <div class="topic-in-article"><a href="" class="">Teológia</a></div>
                <div class="auther-in-article"><a href="" class="">Csámpai Elemér</a></div>
            </div>
            <div class="topic-title">
                <a href="#">A cikk címe: Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nostrum</a>

            </div>

        </div>

    </div>
    <!-- </div> -->
</div>