{% extends 'base.html.j2' %}
{% block title %} {{category}} {% endblock %}

{%block headsource %}  
{# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> #}
<link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}" /> 
{% endblock %}

{% block content %}
{# fl #}

  {% for message in get_flashed_messages()  %}
   <div class="toast toast-success">
       <button class="btn btn-clear float-right"></button>
         {{message}}
   </div>
  {% endfor %}

{# {% if posts %} #}
  <h3>{{category}}</h3>
{# {% else %} 
  <h1 class="no-posts">Nincsenek bejegyzések</h1> 
{% endif %} #}

<section class="posts">
  {% for post in posts|selectattr("category_name", "equalto", category) %}

    <article class="post">
        <div class="post-data">
            <div class="img-div">
            <a href="/post/{{ post.id }}">
              <img src="/files/{{post.teaser_image}}" alt="">
            </a>
                
            </div>
            <div class="other-data">
                <div class="catauth">
                    <div class="post-category"><a href="#" >{{ post.category_name }}</a></div>
                    <div class="post-auther"><a href="/author/{{ post.author_id}}">{{post.author.name}} - {{post.create_date}}</a></div>
                </div>
                <div class="title">
                    <a href="/post/{{ post.id }}">{{post.title}}"</a>
                </div>
            </div>
        </article>
    </div>
  {% endfor %}



</section>


{% endblock %}