{% extends 'base.html.j2' %}
{% block title %} Csatlakozz {% endblock %}

{%block headsource %}  
{# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> #}
<link rel="stylesheet" href="../static/contact_us.css"> 
{% endblock %}

{% block contact %}


{% endblock %}