{% extends 'base.html.j2' %}
{% block title %} Kapcsolat {% endblock %}

{%block headsource %}  
{# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> #}
<link rel="stylesheet" href="../static/connect.css"> 
{% endblock %}


{% block content %}
<h3>Kapcsolat</h3>

<div class="contact">
    <div class="info">
        <h4>Kapcsolati információk</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit facere blanditiis enim officiis impedit molestias facilis, debitis deleniti, beatae porro repellat. Sapiente labore deleniti, inventore architecto iste, praesentium exercitationem voluptatibus earum ea enim, at facere voluptate! Omnis explicabo vel aperiam unde quo. Sunt velit, eum perspiciatis, nostrum sequi nobis obcaecati veritatis a corrupti maxime vitae ipsam, blanditiis ab quod nam cupiditate. Adipisci maiores similique odio consectetur tempore debitis quisquam iure magnam consequuntur, enim quibusdam totam iste? Tempora eveniet eaque quos. Aliquam blanditiis dignissimos accusamus quidem perspiciatis, reiciendis unde eaque itaque atque voluptates quibusdam officia, nesciunt modi tempora numquam consequatur odio!</p>

        <ul>
            <li><strong>email</strong>: info@solamateria.hu</li>
            <li><strong>telefon</strong>: 0610-123-45-67</li>
            <li><strong>cím</strong>: 1111 Budapest Alap utca 1</li>
        </ul>
    </div>
    <form action="sendMessage.py" method="post" class="send">

        <h4>Küldj nekünk üzenetet</h4>
        <div  class="input">
            <span><strong>Email</strong></span>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div  class="input">       
            <span><strong>Tárgy</strong></span>
            <input type="text" name="subject" placeholder="Tárgy">
        </div>

        <div  class="input">
            <span><strong>Üzenet</strong></span>
            <textarea name="message" placeholder="Üzenet"></textarea>
        </div>

        <div class="button">
            <button type="submit">ELKÜLD</button>
        </div>

    </form>
</div>

{% endblock%}