
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

.form {
  display: flex;
  flex-direction: column;
}

.design-for-label {
  font-weight: 600;
}

.form-input {
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.create-button {
  width: 100px;
  border-radius: 0;
  background-color: black;
  color: white;
  margin: 20px;
  float: right;
}
