.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

main {
  width: 100%;
}

.post-header {
  height: 400px;
  position: relative;
}

.header-img,
.post-data,
.post-header > h1,
.single-post-title {
  position: absolute;
}

.header-img {
  width: 100%;
  height: 85%;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-post-title,
.post-data {
  margin-left: 8rem;
}

.single-post-title {
  color: white;
  left: 25px;
  bottom: 80px;
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 8px;
  font-style: italic;
}

.post-data {
  background-color: white;
  padding: 4px;
  font-size: 1em;
  left: 25px;
  bottom: 170px;
  border-radius: 5%;

  /* color: white; */
}

.post-data > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.post-data > a:hover {
  text-decoration: underline;
}

.single-post-body {
  width: 70vw;
  margin: 0 auto;
}

.single-post-author {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  float: right;
  margin-bottom: 20px;
}

.single-post-author:hover {
  text-decoration: underline;
}
