
.posts {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85vw;
  margin: 0 auto;
}

.post {
  background-color: transparent;
  box-sizing: border-box;
  width: 33%;

  /* max-width: 30%; */
  height: 350px;
  position: relative;

  /* flex-grow: 1; */
  margin: 1px;

  /* border: 1px solid; */
}

.position-abs {
  position: absolute;
}

.promoted {
  width: 49.5%;
  height: 420px;
  margin: 1px;
  margin-top: 30px;

  /* flex-grow: 1; */
}

h3 {
  flex-grow: 1;
  margin: 50px 0 50px 0;
  justify-content: left;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.post-data {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.other-data-abs {
  bottom: 50px;
}

.other-data {
  font-size: 12px;
  margin-top: 10px;
}

.img-div {
  width: 100%;
  height: 70%;
}

.img-max {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
}

img:hover {
  opacity: 0.7;
}

.catauth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin {
  margin: 15px;
  align-items: center;
}

.catauth .prom-abs .font,
.other-data-abs .title .font {
  color: white;
  font-size: 1.2rem;
}

.title {
  margin-top: 10px;
}

.other-data-abs .title,
.other-data-abs .post-category {
  margin-left: 15px;
}

.post-category {
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5%;
}

.post-auther {
  font-weight: 600;
  display: flex;
  align-items: center;
}

#post-author-and-date {
  margin-left: 35px;
}

#post-author-and-date a {
  color: white;
}

.catauth a {
  text-decoration: none;
}

.post-auther a {
  color: black;
  font-style: italic;
}

.post-category:hover {
  text-decoration: underline;
}

.post-category a {
  color: white;
  font-style: italic;
}

.title a {
  text-decoration: none;
  color: rgb(65, 63, 60);
  font-style: italic;
  font-size: 1.2rem;
}

.post-auther a:hover {
  text-decoration: underline;
}

.title > a:hover {
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .post {
    width: 44.5%;
    width: 49.5%;
    height: 420px;
    margin: 1px;
  }

  .promoted {
    width: 100%;
    height: 420px;
    margin: 1px;
    margin-top: 30px;
  }
}

@media (max-width: 1100px) {
  .post {
    width: 100%;
    height: 500px;
    margin: 1px;
    margin-top: 30px;
  }

  .post-category {
    font-size: 1.2rem;
  }
}
