{% extends 'base.html.j2' %}
{% block title %} Sszerzőkről {% endblock %}

{%block headsource %}  
{# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> #}
<link rel="stylesheet" href="../static/author.css"> 
{% endblock %}

{% block content %}
    <h3>Szerzőinkról</h3>

    <div class="authors">
        <div class="author">
        <a href="">
            <img src="../pics/insight_spirit_2.jpg" alt="author" width="500" height="600">
        </a>
            
            <div class="auther-data">
                <ul>
                    <li>Név</li>
                    <li>Végzettség</li>
                    <li>Kedvenc téma</li>
                    <li>Rövid bemutatkozás</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}