{% extends 'base.html.j2' %}
{% block title %} Filozófia {% endblock %}

{%block headsource %}  
{# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> #}
<link rel="stylesheet" href="../static/style_index.css"> 
{% endblock %}

{% block content %}
  {% if posts|length == 0 %}
  <h1 class="no-posts">Nincsenek bejegyzések</h1>
  {% endif %}

  {% for message in get_flashed_messages()  %}
   <div class="toast toast-success">
       <button class="btn btn-clear float-right"></button>
         {{message}}
   </div>
  {% endfor %}
      {% if posts %}
    <h3>{{category}}</h3>
    {% endif %}

<section class="posts">

  {% for post in posts|selectattr("category_name", "equalto", category) %}
    <div class="post">
        <div class="post-data">
            <div class="img-div">
            <a href="/post/{{ post.id }}">
              <img src="/files/{{post.teaser_image}}" alt="">
            </a>
                
            </div>
            <div class="other-data">
                <div class="catauth">
                    <div class="post-category"><a href="#" >{{ post.category_name }}</a></div>
                    <div class="post-auther"><a href="/author/{{post.author_id}}">{{post.author.name}}</a></div>
                </div>
                <div class="title">
                    <a href="/post/{{ post.id }}">{{post.title}}"</a>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}

</section>


{% endblock %}